flush ruleset

table ip filter {
    chain INPUT {
        type filter hook input priority 0; policy drop;
        ct state related,established counter accept
        iifname "lo" counter accept
        {% for inbound in (default_inbound_whitelist + (inbound_whitelist | default([]))) %}
        ip saddr {{ inbound.source | default(inbound.ip) }} tcp dport {{ inbound.port }} counter accept
        {% endfor %}
    }
    chain FORWARD {
        type filter hook forward priority 0; policy drop;
    }
    chain OUTPUT {
        type filter hook output priority 0; policy drop;
        ct state related,established counter accept
        oifname "lo" counter accept
        {% for outbound in (default_outbound_whitelist + (outbound_whitelist | default([]))) %}
        ip daddr {{ outbound.destination | default(outbound.ip) }} tcp sport {{ outbound.port }} counter accept
        {% endfor %}
    }
}