flush ruleset

table ip filter {
    chain INPUT {
        type filter hook input priority 0; policy drop;
        ct state related,established counter accept
        iifname "lo" counter accept
        {% for inbound in combined_inbound_whitelist %}
        ip saddr {{ inbound.ip | default(inbound.source) }} {{ inbound.protocol | default('tcp') }} dport {{ inbound.port }} counter accept
        {% endfor %}
    }
    chain FORWARD {
        type filter hook forward priority 0; policy drop;
    }
    chain OUTPUT {
        type filter hook output priority 0; policy drop;
        ct state related,established counter accept
        oifname "lo" counter accept
        {% for outbound in combined_outbound_whitelist %}
        ip daddr {{ outbound.ip | default(outbound.destination) }} {{ outbound.protocol | default('tcp') }} dport {{ outbound.port }} counter accept
        {% endfor %}
    }
}