*filter{%- raw %}
{% endraw %}
:INPUT DROP [0:0]{%- raw %}
{% endraw %}
:FORWARD DROP [0:0]{%- raw %}
{% endraw %}
:OUTPUT DROP [0:0]{%- raw %}
{% endraw %}
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT{%- raw %}
{% endraw %}
-A INPUT -i lo -j ACCEPT{%- raw %}
{% endraw %}
{% for inbound in (default_inbound_whitelist + (inbound_whitelist | default([]))) %}
-A INPUT -p {{ inbound.protocol | default('tcp') }} --dport {{ inbound.port }} -s {{ inbound.ip | default(inbound.source) | default('0.0.0.0/0') }} -j ACCEPT{%- raw %}
{% endraw %}
{% endfor %}
-A OUTPUT -m state --state RELATED,ESTABLISHED -j ACCEPT{%- raw %}
{% endraw %}
-A OUTPUT -o lo -j ACCEPT{%- raw %}
{% endraw %}
{% for outbound in (default_outbound_whitelist + (outbound_whitelist | default([]))) %}
-A OUTPUT -p {{ outbound.protocol | default('tcp') }} --dport {{ outbound.port }} -d {{ outbound.ip | default(outbound.destination) | default('0.0.0.0/0') }} -j ACCEPT{%- raw %}
{% endraw %}
{% endfor %}
COMMIT{%- raw %}
{% endraw %}