*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
{% for inbound in (default_inbound_whitelist + (inbound_whitelist | default([]))) %}
-A INPUT -p {{ inbound.protocol | default('tcp') }} --dport {{ inbound.port }} -s {{ inbound.ip | default(inbound.source) | default('0.0.0.0/0') }} -j ACCEPT
{% endfor %}
-A OUTPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A OUTPUT -o lo -j ACCEPT
COMMIT